<script src="{{ 'shopify-discounts.js' | asset_url }}" defer></script>

<section class="shopify-discounts"></section>

{% schema %}
{
  "name": "Shopify Discounts",
  "target": "section"
}
{% endschema %}
